@charset "utf-8";
/* CSS Document */

body {margin: 0px; padding: 0px; font-size:14px;color:#333;background:#FFFFFF;font-family:"微软雅黑",Verdana,Arial,Sans-serif; }
*{font-family:微软雅黑 !important}
a:link,a:visited{text-decoration:none;color:#2BA8DD;blr:expression(this.onFocus=this.blur());}
a:hover{text-decoration:underline;} 

a,area { blr:expression(this.onFocus=this.blur()) } /* for ie */ 
a:focus { outline: 0 none; }/* for Firefox */ 
input{font-size:13px;}
div,form,img,ul,ol,li,dl,dt,dd,table,iframe,p,img{padding:0px; margin:0px; border:0px}
h1,h2,h3,h4,h5,h6 {padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px;}
.clear{width:0px;clear:both;overflow:hidden;visibility:hidden;line-height:0; height: 0px; clear: both; font-size: 0px; margin: 0px;padding: 0px}
.text12{font-size:12px;}
.text16{font-size:16px;}
.text24{font-size:24px;}
.text20{font-size:20px;}
.Color333{color:#333;}
.Color999{color:#999;}
.ColorBlue{color:#2BA8DD;}  
.ColorGreen{ color:#57913C} 
.ColorGreen a:link,.ColorGreen a:visited{ color:#57913C;}
.ColorOrange{ color: #FF9900}
.bold{ font-weight:bold }
.EventCheckbox{ margin-top:7px; _margin-top:0px}


.container{background:#FFFFFF;}
.Indexbg{background: url(/images/index/bg_stripes.png) repeat;}
.content{ background:#fff;}


.head{background:url(/images/index/index_02.gif) repeat-x;height:81px;padding:0 0 0 0px;overflow:hidden;}
.head_inner{width:960px;margin:0 auto;height:81px;}
.logo{background:url(/images/index/index_04.png) no-repeat;width:121px;height:57px; margin-top:14px;float:left;}
.headEvent{ color: #666;position:fixed; left:0;background:url(/images/skin/header_footer.png) repeat-x; height:41px; line-height: 41px;padding:5px 0 0 0px;opacity: 0.9; width: 100%}
.headEventImg{width: 960px; margin: auto}
.headEventImgLogo{float:left;background:url(/images/index/index_04.png) no-repeat;width:54px;height:30px; background-position: 0 -65px}
.headEventImgLink{float:right; font-size:14px; color: #2BA8DD; font-weight:bold; line-height: 41px}
.service{float:right; position:relative; margin-top:25px; display:inline;width:750px;font-size:14px;color:#333;}
.service span{float:left;}
.service span.entrance{display:inline;color:#2BA8DD;font-size:15px;float:right;}
.service span em{font-style:normal;color:#686868;margin:0 20px 0 0;font-size:16px;}
.company_login{margin-bottom:5px}
.news_title{padding:6px 0px 0 0px;font-weight:bold;color:#686868;width:960px;margin:0 auto;}
.news_title span{float:left;}
.news_title span.news_span{float:right;display:inline;}
.news_title span em{font-style:normal;}
.footer{background:url(/images/skin/header_footer.png) repeat-x; background-position: 0 -48px;text-align:center;line-height:25px; }
.footer_inner{width:960px;height:4px;padding:12px 0 50px 0px;min-height:169px;_height:169px;margin:0 auto;}
.footer_inner li{list-style: none; float: left; text-align: left; width:450px; color:#959595; font-size: 12px; line-height:30px}
.footer_inner li.RightText{float: right; text-align:right;width:420px; height:33px; padding-right:10px;}
.footer_inner li.RightLogo{ cursor:pointer;  float: right; text-align:right;width:55px; height:33px; background:url(/images/index/index_04.png) no-repeat; background-position:right bottom}
.footer span.footer_span em{margin:0 10px;}
.footer span.footer_span{color:#959595;}
.footer span{display:block;}
.footer em{font-style:normal;margin:0 6px; }
.footer a:link,.footer a:visited{color:#333;text-decoration:none;}
.footer a:hover,.footer a:active{color:#333;text-decoration:underline;}


.after_login{float:right;padding:30px 0 0 0;color:#686868;width:829px;font-size:14px;height:46px;}
.inner_logo{background:url(/images/collection/logo.gif) no-repeat;width:81px;height:78px;float:left;margin:0 0 0 0px;display:inline;}
.after_login span{float:left;}
.after_login span.account{display:inline;}


.after_login span.tel{line-height:20px;float:right;margin:0px 0 0 0;}
.after_login span.tel em{font-style:normal;font-size:16px;}
.after_login span.tel em.exit{color:#2BA8DD;text-align:right;margin:0 0 0 50px;font-size:15px;}

.nav{ background:#DEF1FE; height:35px;}
.globalnav{width:960px; background:#2BA8DD;margin:0 auto;font-size:16px;}
.globalnav li{list-style:none; float:left;  border-left:solid 1px #FFF; font-weight:bold;}
.globalnav li a{display:block; line-height:35px;  width: 159px; text-align: center; color:#FFF; text-decoration:none}
.globalnav li a:hover{ background:#ADD69A; color:#FFF}
.globalnav li a:visited{ color:#FFF}/*for ie6*/
.globalnav li.nowpage a{background:#6CB54A; color:#FFF}

.globalnavE{width:960px; background:#2BA8DD;margin:0 auto;font-size:13px;}
.globalnavE li{list-style:none; float:left;  border-left:solid 1px #FFF; font-weight:bold;}
.globalnavE li a{display:block; line-height:35px; width: 159px; text-align: center; color:#FFF; text-decoration:none}
.globalnavE li a:hover{ background:#ADD69A; color:#FFF}
.globalnavE li a:visited{ color:#FFF}/*for ie6*/
.globalnavE li.nowpage a{background:#6CB54A; color:#FFF}


.collection_button{cursor:pointer;outline:none;border:none;vertical-align:baseline;height:39px;font-weight:bold;color:#fff;padding-left:15px; padding-bottom:5px; _padding-bottom:0px;line-height:37px;padding-right:15px; font-size:14px;background: #2BA8DD;*border:0;*overflow:visible;}
.collection_button_giay{cursor:pointer;outline:none;border:1px solid #D5D5D5;border-radius: 5px 5px 5px 5px;vertical-align:baseline;height:39px;font-weight:bold;color:#555555;padding-left:15px; padding-bottom:5px; _padding-bottom:0px;line-height:37px;padding-right:15px; font-size:14px;background:#E4E4E4;*border:0;*overflow:visible;}

.gray_button{outline:none;border:none;vertical-align:baseline;height:39px;font-weight:bold;color:#9BAEB2;padding-left:15px; padding-bottom:5px; _padding-bottom:0px;line-height:37px;padding-right:15px; font-size:14px;background:#D6DDDF;*border:0;*overflow:visible;}
.collect_box{width:830px;margin:12px auto;padding:0px 0;border:5px solid #ECF4CF;font-size:15px;}
.sucess_title{background:url(/images/collection/sucess_03.gif) no-repeat 20px 10px;padding:10px 10px 10px 60px;}




/*添加新付款人*/
.link_box span{width:295px;float:left;}
.edit_area{width:460px;height:100px;border:2px solid #ccc;}

/*付款_内_成功*/
.edit_td11 span.charge_span{float:right;line-height:36px;}
.sucess_title2{background:#F8E1E1 url(/images/collection/sucess_03a.gif) no-repeat 20px 10px;padding:10px 10px 10px 60px;color:#BD2C2C;} 


/*付款_内_信用卡*/
.select_method span{float:left;}
.collect_money_box2 table.select_method{width:610px;margin:10px auto 0;color:#505050;font-size:15px;height:37px;line-height:37px;}
.select_method span.charge_span{float:right;}
.charge_span2{float:left;margin:0px 0 0 0px;}
.charge_button{background:#2BA8DD;}

.select{width:99px;float:left; z-index: 1000; color:#909ea4;cursor:pointer;background:url(/images/collection/charge_06.gif) no-repeat;width:190px;height:32px;margin:0 0 0 5px;position:relative;left:0px;top:0px;}
.select span{width:155px;height:20px;line-height:20px;display:block;overflow:hidden;padding-left:5px;margin:5px 0 4px 0;}
.select ul{width:189px;position: absolute;top:32px;left:0px;border-left:1px solid #c5c5c5; background: #fff; border-right:1px solid #c5c5c5;	border-bottom:1px solid #c5c5c5;}
.select ul li{list-style:none;background:#fff; padding-left: 30px; min-height: 21px;}
.select .selected{background:#ddd;}

.charge_form{background:#DADADA;padding:10px;margin:10px auto; }
.charge_form table{color:#505050;}
.paygate_left{width:295px;float:left;}
.paygate_right{width:295px;float:right;}
.paygate_right p, .paygate_left p{margin-bottom:10px;}
.charge_input{width:290px;border:2px solid #ccc;height:20px; }
.charge_input2{width:140px;border:2px solid #ccc;height:20px;}
.charge_input3{width:142px;border:2px solid #ccc;height:20px;}
.charge_td1{width:150px;}
.charge_td1 span{color:#f00;margin:0 0 0 8px;}
.charge_td4 select{margin:0 10px 0 0;}
.charge_td5{width:270px;}
.charge_td6{width:140px;}
.charge_td7{width:140px;}
.charge_bank{display:inline;}
.charge_bank dl dt{margin:10px 27px 10px 0px; font-weight:bold; color:#999 }
.charge_bank dl dd{float:left;margin:10px 27px 10px 0px;display:inline;}
.charge_bank dl dd.Right{margin-right:0px; float:right;}  

/*主页*/
.account_left{width:702px;float:left;font-size:15px;}
.account_right{width:218px;float:right;font-size:15px;}
.account_title span{float:left;text-align:center;color:#1A5A88; font-weight:bold;margin:0 10px 0 0;}
.account_title span em{color:#505050;font-style:normal;margin:0 6px 0 0;float:left;}
.account_title span em.account_em{white-space:normal;word-wrap:break-word;}
.account_title{border-bottom:3px solid #C7E8FC;padding:0 0 0 5px;}
.account_right ul {padding: 0px 5px;}
.account_right ul li{list-style:none;float:left;width:101px;text-align:left;line-height:25px;color:#505050;}
.account_right ul li.LiRight{text-align: center}


   
/*index_new*/ 
.home_content{background:#ffffff;margin:0px auto 0px auto; padding:33px 0px 20px 0px;min-height:600px; _height:600px;width:960px; } 
.home_content_index{background: #333333}
.new_left{width:579px;float:left;} 
.new_right{width:358px;float:right;}



.sub_nav{height:24px;}
.sub_nav_inner{width:960px;margin:0 auto;font-size:15px;}

.sub_nav_inner a:link,.sub_nav_inner a:visited{color:#2BA8DD;text-decoration:underline;}
.sub_nav_inner a:hover,.sub_nav_inner a:active{color:#2BA8DD;text-decoration:underline;}

.sub_nav_inner .sub_nav_now a:link,.sub_nav_inner .sub_nav_now a:visited{color:#158144;text-decoration:underline;}
.sub_nav_inner .sub_nav_now a:hover,.sub_nav_inner .sub_nav_now a:active{color:#158144;text-decoration:underline;}

.sub_nav_inner span{margin:0 6px;}
.sub_nav_inner{color:#158144;} 

.nolist{ background:#FFF8D9; border:solid 1px #FFCA21; padding:10px;font-size:16px;text-align:center;color:#A75C25;}
.edit_td11 em.reason{font-size:15px;color:#505050;width:400px;overflow:hidden;white-space:normal;word-wrap:break-word;}
.edit_title2{height:30px;line-height:30px;margin:0 0 0px 0;background:#ECF1F7;}
.edit_title2 span.edit_span2{float:right;padding:0 10px 0 0;color:#A3A3A3;}
.edit_title2 span{float:left;padding:0 0 0 10px;color:#505050;}
.send_link_dl{width:640px;margin:auto;}
.send_link_dl dt{width:90px;float:left;}
.send_link_dl dd{width:490px;float:right;}
.send_link_dl dd span{display:block;font-size:15px;font-weight:bold;color:#A3A3A3;}
.send_link_dl dd span.TextAlignRight{font-weight:normal;font-size:12px;}
.send_link_dl dd span.TextAlignRight a{line-height:39px;float:right;margin:0 10px 0 0;}
.TextAlignRight a:link,.TextAlignRight a:visited{color:#2BA8DD;text-decoration:underline;}
.TextAlignRight a:hover,.TextAlignRight a:active{color:#2BA8DD;text-decoration:underline;}
.send_link_dl dd span.send_link_span{border:1px solid #AACE36;margin:4px auto 14px;color:#505050;font-size:17px;height:35px;line-height:35px;width:488px;font-weight:bold;background:#F4F5F4;text-align:center;}
.send_link_dl dd span.send_link_span2 .send_link_textarea{border:1px solid #AACE36;margin:4px auto 14px;color:#505050;font-size:15px;height:51px;width:488px;font-weight:bold;color:#A3A3A3;}
.send_link_dl dd span.send_link_span2 .send_link_textarea2{border:1px solid #AACE36;margin:4px auto 14px;color:#505050;font-size:15px;height:80px;width:488px;font-weight:bold;color:#A3A3A3;}
.send_link_button{float:right;}
.send_link_dl span em{float:left;}
/*dengluhezhuce*/

.yui-panel-container .container-close{overflow:hidden;text-indent:-10000em;text-decoration:none;}
.container-close{position:absolute;top:9px;right:8px;width:25px;height:15px;background:url(/images/login/sprite.png) no-repeat 0 -300px;cursor:pointer;}
.yui-panel{position:relative;left:0;top:0;border-style:solid;border-width:1px 0;border-color:#808080;z-index:1;*border-width:1px;*zoom:1;_zoom:normal;}/* 登录注册弹出框 勿删*/

.FloatLeft1{float:left;padding:0 0 0px 30px;width:363px;}
.FloatRight1 {float:right;padding:0 0 0 30px;width:363px;}
.loginboxcontent{width:430px;}

.login_span{margin:0 0 0 6px; width: 150px; text-align: left}
.loginboxcontent h3{text-align:right;font-weight:normal;font-size:15px;margin:0px 0 0 0;}
.login_span a:link,.login_span a:visited{color:#2BA8DD;text-decoration:underline;}
.login_span a:hover,.login_span a:active{color:#2BA8DD;text-decoration:underline;}

.ensure_img{margin-left:6px; }
.pop_button2{float:right;}
.pop_input{line-height:20px;height:20px;font-size:14px;color:#505050;border:2px solid #ccc;width:210px;}
.pop_input2{line-height:20px;height:20px;font-size:14px;color:#505050;border:2px solid #ccc;width:254px;_width:250px;}
.pop_button4{float:right;}
.pop_input3{border:2px solid #ccc;width:280px;height:22px;float:left;font-size:14px;}
.pop_input4{border:2px solid #ccc;width:354px;height:22px;font-size:14px;}
.login_box{border:10px solid #DEF1FE;margin:50px auto 0;padding:40px; _height:20px}

/*zhuye-dengluhou*/
.online{color:#505050;padding:5px;}
/*tiaoshi*/
.charge_select em{color:#000;font-size:26px;margin:0px;}
/*zhucedenglupop*/
#main3{padding:0px;width:360px; margin:0 auto;}
#main3 div{line-height:35px; }
.sign_up_em{font-style:normal;color:#A3A3A3;font-size:12px;margin:0 0 0 6px;}
.aboutus_left{width:176px;float:left;}
.aboutus_left dl{border-top:1px  dotted #505050;}
.aboutus_left dl dd{display: block; border-bottom:1px  dotted #505050;font-size:15px;padding:6px 0px;height:18px;}
.aboutus_left dl dd a:link,.aboutus_left dl dd a:visited{display: block; color:#686868;text-decoration:none;}
.aboutus_left dl dd a:hover { color:#2BA8DD; text-decoration:none}
.aboutus_left dl dd a:active {color:#00ADEE; font-weight:bold;}
.aboutus_left dl dd.active a:link,.aboutus_left dl dd.active a:visited{color:#00ADEE; font-weight:bold;}
.aboutus_left dl dd.active a:hover,.aboutus_left dl dd.active a:active{color:#00ADEE; font-weight:bold;}


.aboutus_right{width:754px;float:left;margin:0 0 0 30px;font-size:14px;display:inline;}
.aboutus_p span{display:block;line-height:20px; margin-bottom: 10px;}
.aboutus_p{line-height:20px; }
.aboutus_h3{color:#2BA8DD;font-size:16px; font-weight:bold; margin:20px 0px 10px; }
.aboutus_h3 span{margin:0 10px 0 0;}
.MarginTop0{ margin-top:0px;}
.aboutus_blank{height:20px;width:754px;}
.aboutus_right dl dd{background:url(/images/logo_about_campaign.png) no-repeat; min-height:101px;_height:101px;border-bottom:1px dotted #505050;padding:0 131px 10px 0px;margin:0 0 8px 0;}
.aboutus_right dl dd span{display:block;line-height:25px; margin-bottom:10px}
.aboutus_right dl dd span.partner_title{font-size:16px;color:#2BA8DD;margin:0 0 6px 0;font-weight: bold;}
.aboutus_right dl dd span.partner_title a:link,.aboutus_right dl dd span.partner_title a:visited{color:#2BA8DD;text-decoration:none;}
.aboutus_right dl dd span.partner_title a:hover,.aboutus_right dl dd span.partner_title a:active{color:#2BA8DD;text-decoration:underline;}
.aboutus_right dl dd.partner_dd1{background-position:653px 10px}
.aboutus_right dl dd.partner_dd2{background-position:653px -101px}
.aboutus_right dl dd.partner_dd3{background-position:653px -191px}
.aboutus_right dl dd.partner_dd4{background-position:653px -321px}
.aboutus_right dl dd.partner_dd5{background-position:653px -441px}
.aboutus_right dl dd.partner_dd6{background-position:653px -551px}
/*--.aboutus_right dl dd.partner_dd7{background-position:653px -670px}
.aboutus_right dl dd.partner_dd8{background-position:653px -777px}
.aboutus_right dl dd.partner_dd9{background-position:653px -995px}
.aboutus_right dl dd.partner_dd10{background-position:653px -1167px}
.aboutus_right dl dd.partner_dd11{background-position:653px -1510px}
.aboutus_right dl dd.partner_dd12{background-position:653px -1670px}
.aboutus_right dl dd.partner_dd13{background-position:653px -1830px;}
.aboutus_right dl dd.partner_dd14{background-position:653px -1350px}
.aboutus_right dl dd.partner_dd15{background-position:653px -1970px}
.aboutus_right dl dd.partner_dd16{background-position:653px -2120px}
.aboutus_right dl dd.partner_dd17{background-position:653px -2465px}
.aboutus_right dl dd.partner_dd18{background-position:653px -2300px}
.aboutus_right dl dd.partner_dd19{background-position:653px -2605px}
.aboutus_right dl dd.partner_dd20{background-position:653px -2790px}--*/
.User{position: relative;}
.User li{ text-align: justify;list-style:none; line-height:25px;border-bottom:1px dotted #505050; margin-bottom:8px; padding-right:130px}
.User li p{ margin-bottom:10px; color: #666}
.User li font b{color:#2BA8DD;}
.User li font{color:#000; font-size: 14px}
.User li em{ display: block; width:620px;color:#000; font-weight: bold; text-align:right}

.User li a{ position: absolute;right:0; background:url(/images/logo_about_user.png) no-repeat; width:100px; height:91px;}
.User li a.link1{background-position:0 0}
.User li a.link2{background-position:0 -101px;}
.User li a.link3{background-position:0 -202px;}
.User li a.link4{background-position:0 -303px;}
.User li a.link5{background-position:0 -404px;}
.User li a.link6{background-position:0 -505px;}
.User li a.link7{background-position:0 -606px;}
.User li a.link8{background-position:0 -707px;}
.User li a.link9{background-position:0 -808px;}
.User li a.link10{background-position:0 -909px;}
.FloatRight{float:right;}
.FloatRight em{font-style:normal;margin:0 5px;}
.FloatLeft{float:left;}

.divcontent{border-right:1px solid;border-left:1px solid;overflow:hidden; padding:0px 10px 0px 10px;white-space:normal;word-wrap:break-word;}
.divcontent ul{ padding-left:15px}
.divcontent ul li{ list-style:outside; margin-bottom:2px;} 
.divcontent ul li h1{font-size:12px; line-height:19px; font-weight:100}
.divcontent ul li p{font-size:12px;font-weight:bold}
.divcontent1{border-right:1px solid;border-left:1px solid;overflow:hidden; padding-top:3px; text-align: center}

.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8{height:1px; font-size:1px; overflow:hidden; display:block;} 
.b1,.b8{margin:0 5px;}
.b2,.b7{margin:0 3px;border-right:2px solid; border-left:2px solid;}
.b3,.b6{margin:0 2px;border-right:1px solid; border-left:1px solid;}
.b4,.b5{margin:0 1px;border-right:1px solid; border-left:1px solid; height:2px;}
/*边框色*/
.color1 .b2,.color1 .b3,.color1 .b4,.color1 .b5,.color1 .b6,.color1 .b7,.color1 .divcontent,.color1 .divcontent1{border-color:#EDEDED}
.color1 .b1,.color1 .b8{background:#EDEDED;}
/*背景色*/
.color1 .b2,.color1 .b3,.color1 .b4,.color1 .b5,.color1 .b6,.color1 .b7,.color1 .divcontent,.color1 .divcontent1 {background:#EDEDED}
.color1_links_span{padding:0px 10px;color:#686868;font-size:18px;height:35px;line-height:35px;font-weight: bold;background:#F3F3F3;}
.color1 p{font-size:12px;}
/*边框色*/
.color2 .b2,.color2 .b3,.color2 .b4,.color2 .b5,.color2 .b6,.color2 .b7,.color2 .divcontent,.color2 .divcontent1{border-color:#D6D5D6}
.color2 .b1,.color2 .b8{background:#D6D5D6;}
/*背景色*/
.color2 .b2,.color2 .b3,.color2 .b4,.color2 .b5,.color2 .b6,.color2 .b7,.color2 .divcontent,.color2 .divcontent1{background:#F3F3F3}
.noteMessage{ background: #FFFEDE; border: 1px solid #FFDE79;padding: 10px}
.noticeMessage{line-height:30px; margin:3px 0px; text-align:left}
.loadingMessage{ background:#FFF8D9; color:#A75C25;  }
.loadingMessage img{ margin-left:25px;}
.successMessage{ background:#E7F6E3; color:#148243; _height:1px;}
.WaitingListMessage{background:#E7F6E3; color:#148243; _height:1px;font-size:13px; font-weight:bold; padding: 11px 4px}

.notice_box{min-height:30px;line-height:30px;margin:5px 0;display:block;}
.wrongMessage{background:#F8E1E1; color:#BD2C2C;}
.TheEndMessage{background: url(/images/message_img.gif) no-repeat #FFD1B3; color: #E96718;font-size:16px; font-weight:bold; padding:15px 10px 15px 45px;}
.loadingMessage,.successMessage,.wrongMessage{font-size:14px; font-weight:bold;padding-left:10px; padding-right: 10px;}
.why_verify a:link,.why_verify a:visited{color:#686868;text-decoration: none;}
.why_verify a:hover,.why_verify a:active{color:#686868;text-decoration: underline;} 
.IndexTop{padding: 0px 0px 0px 52px; background: #333; margin-top: -33px; padding-top: 33px; height: 345px; color: #ffffff}
.IndexLeftTop{width:479px; height: 267px; background: #ffffff; padding:6px; margin-right:41px; position:relative;}
.IndexLeftTop img{width:479px; height: 267px;}

.ImgText{position:absolute;right:6px;bottom:15px;font-weight:bold; color:#FFF; background:#111;filter:alpha(opacity=80);
 -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8; text-shadow:1px 1px 2px #000;width:459px; height:30px; padding:10px 10px 5px 10px; font-size:17px /*--opacity: .85;   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);--*/} 

.ImgText span{ font-size:22px;}
.ImgText p{ font-size:14px;} 

.ImgTextEn{position:absolute;right:6px;bottom:15px;font-weight:bold; color:#FFF; background:#111;filter:alpha(opacity=80);
 -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8; text-shadow:1px 1px 2px #000;width:469px; height:30px; padding:10px 5px 5px 5px; font-size:15px /*--opacity: .85;   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);--*/} 
.ImgTextEn div{ margin-bottom: 5px;}
.ImgTextEn span{ font-size: 16px;}
.ImgTextEn p{ font-size:14px;}

.IndexRightTop{ width:346px; float:left}
.IndexRightTop p{ font-size: 36px; letter-spacing:9px; font-weight: bold; margin-top:30px;}
.IndexRightTop p.en{ font-size:26px; letter-spacing:0px;line-height: 34px; font-weight: bold; margin-top:30px;}
.IndexRightTop p.IndexText{ font-size: 16px;letter-spacing:0px; font-weight: 100}
.IndexRightTop div{margin-top:60px;}
.IndexRightTop div.en{margin-top:57px;}
.IndexRightTop span{ float: left; margin-right: 10px; line-height: 49px; font-size: 18px}
.IndexSearchTop{ background: #F1F1F1;text-align: center; font-size:23px; color:#7a7b7d; padding: 28px 0px 60px 0px; font-weight: bold; margin-bottom:40px;}
.IndexSearchTop span{ font-size: 27px;}
.IndexSearchTop img{ margin: 5px 15px;}
.IndexSearch{ position: absolute;width:593px;height:30px; padding:10px; margin: -65px 0px 20px 184px; background:url(/images/search_bg.png) no-repeat;}
.Input410{ width:410px; height:30px; border:none; background:none;float:left; font-size: 16px; color: #666}
.Input56{ width:160px; height:30px; font-size:18px; float:right;cursor: pointer; border:none; background:none; color:#FFF}
.slidenav{ margin-top:17px; padding-left:146px;}
.slidenav li{ border-radius: 6px 6px 6px 6px;box-shadow:0 0 5px #333333; cursor: pointer; display: block; float: left; height: 12px; margin: 0 0 0 8px;outline: 0 none;text-indent: -9999px; width: 12px; background:#6CB54A}
/*--.slidenav li img {border: 1px solid #6CB54A;left: -1px; position: absolute; top: -65px;}--*/
.slidenav li:hover {background:#FFF}
.slidenav li.active {background:#FFF}

.IndexLeftBottom{margin-top:16px; margin-bottom: 10px}
.IndexLeftBottom dl{float:left;background:url(/images/index/index_left_bottom_bg.png) no-repeat; width:168px; height:207px; padding:0px 10px ; margin-right:7px;} 
.IndexLeftBottom dl.Right{ margin-right:0px;float:right}  
.IndexLeftBottom dl dt{font-size:22px;color:#1A5A7F; line-height:41px; margin-bottom:10px;text-align:center;}
.IndexLeftBottom dl dd{color:#575757 ;line-height:25px;}
.IndexLeftBottom dl dd span{font-size:16px; color:#313131;}

.IndexEventList{ background: url(/images/index/line.png) no-repeat  right bottom; padding-bottom:1px;}
.IndexEventListbg{ background: url(/images/index/line_2.png) no-repeat  right bottom;}
.IndexEventList dl{width:340px;  margin:30px 64px; _margin:30px 34px;}
.IndexEventList dl dt{ font-size:22px; margin-bottom:12px; color:00080f}
.IndexEventColor{ color:#585756; font-size:18px; font-weight:bold; margin-top:10px;}
.IndexEventList dl dd{width:340px; color:#5b5c5d; font-size:18px;}


.LoginLeft{width:430px; float:left}
.LoginLeftText{background:#F0F0F0; padding:20px 11px; font-size:18px; min-height:72px; line-height:25px; margin-top:10px;}
.LoginLeftText ul{ padding-left: 20px}
.LoginLeftText ul li{ list-style:square}
.LoginPop{background:#F0F0F0; padding:20px 5px; margin-top:30px;}
.Height192{height:212px;} 
.account_box {margin-bottom:20px;}
.xb1, .xb2, .xb3, .xb4, .xb5, .xb6, .xb7 {display:block; overflow:hidden; font-size:0;}
.xb1, .xb2, .xb3, .xb4, .xb5, .xb6 {height:1px;} 
.xb4, .xb5, .xb6, .xb7 {background:#ccc; border-left:1px solid #C7E8FC; border-right:1px solid #C7E8FC;}
.xb1 {margin:0 8px; background:#C7E8FC;}
.xb2 {margin:0 6px; background:#C7E8FC;}
.xb3 {margin:0 4px; background:#C7E8FC;}
.xb4 {margin:0 3px; background:#EEF9FF; border-width:0 5px;}
.xb5 {margin:0 2px; background:#EEF9FF; border-width:0 4px;}
.xb6 {margin:0 2px; background:#EEF9FF; border-width:0 3px;}   
.xb7 {margin:0 1px; background:#EEF9FF; border-width:0 3px; height:2px;} 
.xboxcontent {display:block; background:#EEF9FF; border:3px solid #C7E8FC; border-width:0 3px;}
.xboxcontent img{ margin-left:5px;}


.Lb1, .Lb2, .Lb3, .Lb4, .Lb5, .Lb6, .Lb7 {display:block; overflow:hidden; font-size:0;}
.Lb1, .Lb2, .Lb3, .Lb4, .Lb5, .Lb6 {height:1px;}
.Lb4, .Lb5, .Lb6, .Lb7 {background:#ccc; border-left:1px solid #C7E8FC; border-right:1px solid #C7E8FC;}
.Lb1 {margin:0 8px; background:#C7E8FC;}
.Lb2 {margin:0 6px; background:#C7E8FC;}
.Lb3 {margin:0 4px; background:#C7E8FC;}
.Lb4 {margin:0 3px; background:#FFF; border-width:0 5px;}
.Lb5 {margin:0 2px; background:#FFF; border-width:0 4px;}
.Lb6 {margin:0 2px; background:#FFF; border-width:0 3px;}   
.Lb7 {margin:0 1px; background:#FFF; border-width:0 3px; height:2px;} 
.Lboxcontent {display:block; background:#FFF; border:3px solid #C7E8FC; border-width:0 3px;}

/*邮箱验证弹出框*/
.verify_box_title{width:240px;margin:0 auto;}
.verify_box_span{height:37px;line-height:37px;}
.verify_box {padding:0 10px 0 10px;}
.verify_box a:link,.verify_box a:visited{color:#2BA8DD;text-decoration:underline;}
.verify_box a:hover,.verify_box a:active{color:#2BA8DD;text-decoration:underline;}



/*重新发送付款提醒弹出框*/
.cancel{height:39px;line-height:39px;float:right; margin-right:15px;}
.sure_button{margin:0 0 0 15px;float:left;display:inline;}
.sure_button2{margin:0 0 0 220px;}
.send_notice_div{line-height:30px;padding:20px 0 0 0;}
.again_notice{font-size:15px;display: block;text-align:center;font-weight:bold;}
.send_notice_div a:link,.send_notice_div a:visited{color:#2BA8DD;text-decoration:underline;}
.send_notice_div a:hover,.send_notice_div a:active{color:#2BA8DD;text-decoration:underline;}
.again_notice_form{padding:0 0 0 155px;}
.vPagging {text-align:center; margin-top:20px; padding-bottom:20px;}
.vPagging a {display: inline-block;padding: 3px 8px;line-height: normal;border: 1px solid #ccc;	background:#F6F6F6;text-decoration: none;vertical-align: middle;cursor:pointer;	color:#333 }
.vPagging a:hover { border:solid 1px #4E8235; color:#333 }
.vPagging a.curp{ border:solid 1px #4E8235;background:#6CB54A;	color: #fff;}
.overviewImg{width:780px; height:72px; padding: 208px 180px 0px 0px; background:url(/images/collection/overview_img.png) no-repeat; margin:auto}
/*登录后*/
.lxb1, .lxb2, .lxb3, .lxb4, .lxb5, .lxb6, .lxb7 {display:block; overflow:hidden; font-size:0;}
.lxb1, .lxb2, .lxb3, .lxb4, .lxb5, .lxb6 {height:1px;}
.lxb4, .lxb5, .lxb6, .lxb7 {background:#ccc; border-left:1px solid #2BA8DD; border-right:1px solid #2BA8DD;}
.lxb1 {margin:0 8px; background:#2BA8DD;}
.lxb2 {margin:0 6px; background:#2BA8DD;}
.lxb3 {margin:0 4px; background:#2BA8DD;}
.lxb4 {margin:0 3px; background:#fafafa; border-width:0 5px;}
.lxb5 {margin:0 2px; background:#fafafa; border-width:0 4px;}
.lxb6 {margin:0 2px; background:#fafafa; border-width:0 3px;}   
.lxb7 {margin:0 1px; background:#fafafa; border-width:0 3px; height:2px;} 



.account_title_box span{float:left;line-height:33px;height:33px;}
.account_title_box span.account_title_span1{background:url(/images/collection/title.gif) no-repeat 0 0;width:7px;}
.account_title_box span.account_title_span3{background:url(/images/collection/title.gif) no-repeat 0 -43px;width:7px;}
.account_title_box span.account_title_span2 {background:url(/images/collection/bg.gif) repeat-x 0 -23px;width:678px;color:#1A5A88;font-size:15px;font-weight:bold;padding:0 0 0 10px;}
.accout_dl{margin:10px 0 0 0;zoom:1;}
.accout_dl dt{float:left;width:590px;background:#F2F2F2;line-height:22px;padding:0 0 0 10px;}
.accout_dl dd{float:right;width:102px;text-align:right;}  
.account_input{background:url(/images/collection/bg.gif) repeat-x ;*padding:1px 10px 5px;padding:1px 10px 5px !important;*+padding:0px 8px 0px 8px!important;height:21px;line-height:21px;font-size:12px;cursor:pointer;color:#496824;border:1px solid #83BA40;_padding:0px 4px 0 4px;font-weight:bold;*border:none}
.accout_dl span{float:left;font-size:14px;line-height:22px;}
.accout_dl span.account_dl_span1{font-weight:bold;width:105px;overflow:hidden;white-space:normal;word-wrap:break-word; margin-right: 10px;}
.accout_dl span.account_dl_span3{float:right;width:75px;overflow:hidden;white-space:normal;word-wrap:break-word; font-size:12px; color:#7C7C7C}
.accout_dl span.account_dl_span2{float:left;width:380px;overflow:hidden;white-space:normal;word-wrap:break-word;}


.accout_dl span.account_dl_span4{float:left;width:290px;overflow:hidden;white-space:normal;word-wrap:break-word;}
.accout_dl span.account_dl_span5{float:left;width:80px;font-size:12px;overflow:hidden;white-space:normal;word-wrap:break-word;margin:0 15px;} 


.BlueBox{ border:solid 10px #DEF1FE; background:#FFF; padding-bottom:20px;}
.BlueBoxTitle{ background:#DEF1FE; height:30px; color:#2BA8DD; font-size:15px; font-weight:bold}
.BlueBoxTitle a{ text-decoration:underline}
.BlueBox_Gray{ background:#F7F7F7; padding:20px 0px 15px 0px; min-height:10px; _height:10px;}
.BlueBoxLeft{width:86px; margin-right:30px; text-align:right;}
.photo{border:solid 1px #EFEFEF; background:#FFF; text-align:center;width:80px; height:80px; padding:3px;
display:table-cell;vertical-align:middle;*display: block;*font-size:60px;_font-size:0px;}
.photo_1{text-align:center; width:250px;}
.BlueBoxContent{width:640px; margin:0 auto;}
.Margin0{margin:0px}
.again_send{color:#2BA8DD;margin:0 5px;font-style:normal;}
.BlueBoxContentSeal{width:530px; margin-right:30px;}
.PaddingLR100{padding-left:60px; padding-right:60px;}

.payment_left{width:310px;}
.payment_right{width:310px;}
.line{height:1px;overflow:hidden;background:#686868;margin:15px 0;}
.DetailBorderTop{ margin:20px 0px 10px; padding-top:5px; border-top:solid 1px #999; text-align:justify; color:#666} 
.InputPaygateGateway{height: 28px;color:#909ea4; border:solid 1px #505050; width:188px; background:#fff}
.Input450{width:458px;border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input463{width:463px;*width:464px; height:29px}
.Input461{width:459px;*width:464px;width:464px\0; height:29px}
.Input240{width:243px;}  
.Input300{width:305px;border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input285{width:295px ; border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input380{width:366px; border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input330{width:330px;border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.TextareaInvoice {width:610px;border:2px solid #ccc;padding:5px 0 5px 6px;height:17px;font-size:15px;}
.select240{width:243px;*width:247px;width:247px\0; height:32px;}
.select247{width:247px;*width:249px;width:251px\0; height:32px;}
.BlueBoxContent div.card_kinds{height:31px;margin:0px;}  
.Select465{width:463px;*width:464px;width:464px\0;height:31px} 
.TextareaPaymentMessage{width:301px;border:2px solid #ccc;color:#A3A3A3;padding:5px 0 5px 6px;height:145px;font-size:15px;}
.FeedbackDialog{width:440px; margin: 0px auto 20px;}
.FeedbackDialog div{ margin-bottom:5px}
.dlEdit{ margin:30px auto 20px auto; width:826px; clear:both; position: relative}
.dlEdit span{ font-size:14px; font-weight:100}
.dlEditOne{ margin:0px auto 0px auto; clear:both}
.dlEdit dt{font-size:16px; font-weight:bold; color:#6CB54A; border-bottom:solid 2px #B3D99F; margin-bottom:20px;}
.dlEdit dd{ width: auto}
.dlEdit dd.left{ width:580px; float:left;}
.dlEdit dd.right{ width:180px; float:right; color:#717171}
.TheEnd{ position: absolute; right:245px; font-size:14px; font-weight:100}

.bg{ background:url(/images/youxiaoqi.png) right top no-repeat;}
.sk-item-edit img{ margin-bottom:-10px;} 
.sk-item-edit-hr{border: dashed 1px #B3D99F; margin-left: 7px; margin-bottom:10px;} 
.sk-label-edit{margin-left:-110px; float:left;width:105px; text-align:right;height:33px; line-height:33px; font-weight:100; } 
.sk-item-invoice{padding:0 0px 0px 130px; font-weight:bold; text-align:left; line-height:33px;min-height:33px;_height:33px; font-size:14px; margin-bottom: 5px;} 
.sk-label-invoice{ margin-left:-130px; float:left; width:120px; text-align:right;height:33px; line-height:33px; font-weight:100} 
.sk-item-login-pop{padding:0 0px 0px 60px; text-align:right; line-height:33px;min-height:33px;_height:33px; font-size:14px; margin-bottom: 5px;} 
.sk-label-login-pop{ margin-left:-60px; float:left;width:60px; text-align:right;height:33px; line-height:33px; font-weight:100}  

.sk-item-returned-pop{padding:0 0px 0px 120px; text-align:left; line-height:33px;min-height:33px;_height:33px; font-size:14px; margin-bottom: 5px; } 
.sk-label-returned-pop{ color:#717171; margin-left:-130px; float:left;width:120px; text-align:right;height:33px; line-height:33px; }   
.promote{padding:0 0px 0px 70px; text-align:left; line-height:33px;min-height:33px;_height:33px; font-size:14px; margin-bottom: 5px; clear: both}
.promoteLabel{margin-left:-70px; padding-right: 5px; float:left;width:60px; text-align:left;height:33px; line-height:33px; font-weight:100; } 
.promote input,.promote select,.promote textarea{ width:710px;border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;} 
.promote textarea{ width:710px; height: 100px}   
.detail{background:#FFF; border:solid 1px #999999; padding: 20px;}
.detail h2{font-size: 16px; margin-bottom: 20px; font-weight: bold;}
 
.sk-item2{padding:0 0px 0px 65px; text-align:right; line-height:33px;min-height:33px;_height:33px; font-size:14px; margin-bottom: 5px;} 
.sk-label2{ margin-left:-65px; float:left;width:60px; text-align:left;height:33px; line-height:33px; font-weight:100} 
.sk-item{position:relative; padding:0 0px 0px 170px; text-align:right; line-height:33px;min-height:33px;_height:33px; font-size:14px; margin-bottom: 5px;}  
.sk-item-login{min-height:1px;/*--浏览器360--*/padding:0 0px 0px 170px; text-align:right; line-height:33px;font-size:14px; margin-bottom: 5px; }

.sk-item-edit{position:relative; padding:0 0px 0px 110px; text-align:right; line-height:33px;min-height:33px;_height:33px; font-size:14px; margin-bottom: 5px; clear: both}
.sk-label{margin-left:-170px; float:left;width:165px; text-align:right;height:33px; line-height:33px; font-weight:100;} 
.sk-item-a{line-height:39px;margin:0 10px 0 0;}
.sk-explain {color: #999999;margin-top: -5px; padding-left: 10px;text-align: left;}
.sk-label-edit-ticket{margin-left:-215px; float:left;width:205px; padding-right: 10px; text-align:right;height:33px; line-height:33px; font-weight:100; } 
.sk-item-edit-ticket{position:relative; padding:0 0px 0px 210px; text-align:left; line-height:33px;min-height:33px;_height:33px; font-size:14px; margin-bottom: 5px; clear: both}
.sk-item-edit-ticket b{font-weight: bold}
.fontgreen{color:#158144;} 
.create_select{width:326px;height:29px;} 
.add{position:absolute; margin-left:5px; top:-50px; text-align:left; margin-top:-2px;}
.del{position:absolute; right:0; top:14px; margin-right:-155px; width:150px; text-align:left; margin-top:-2px;}
.delReferral{position:absolute; right:0; top:0px; margin-right:-155px; width:150px; text-align:left; margin-top:-2px;}

.ie6margin{_margin:0 0 0 3px;} 
.Input100{width:100px;border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input90{width:90px;border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input184{width:184px; border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input164{width:164px; border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input154{width:150px; border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input130{width:130px; border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input144{width:105px; border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input50{width:50px; border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input40{width:60px; border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input194{width:240px;border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}   
.Input200{width:220px;border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input400{width:400px;border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;}
.Input120{width:140px;font-size:14px;color:#505050; margin-right:1px;}
.Input340{width:330px;border:2px solid #ccc;line-height:25px;height:25px;font-size:14px;color:#505050;} 
.Select199{width:164px;height:31px} 
.Select124{width:92px;height:31px}
.Select50{width:50px;height:31px}
.Select40{width:40px;} 
.Select60{width:60px;height:31px}
.Select70{width:70px;height:31px}
.chorm_height{min-height:33px;_height:33px;}/*-使用浮动时需要高度的设置，保留-*/
.textarea458{width:304px;border:2px solid #ccc;height:65px;font-size:14px;color:#505050;}
.textarea450{height:450px;width:822px;border:2px solid #ccc;font-size:14px;color:#505050; } 
.textarea640{height:80px;width:636px;border:2px solid #ccc;font-size:14px;color:#505050; }
.textarea550{height:100px;width:572px;border:2px solid #ccc;font-size:14px;color:#505050;}  
.textareaH50{height:50px;width:456px;border:2px solid #ccc;font-size:14px;color:#505050;}
.textareaH100{height:100px;}
.textareaAddPop{ width:364px; height:150px;border:2px solid #ccc;font-size:14px;color:#505050;}
.shortInput{margin-left:8px; *margin-left:8px;margin-left:6px\0;_margin-left:6px;} 
.history_table{background:#F2F2F2; border: none;color:#333; font-size:12px;}
.history_table thead tr td{line-height: 14px; padding:2px auto; text-align:left; background:#DBDBDB; border:solid 1px #DBDBDB;border-top: 2px solid #A0A0A0; font-size:14px; font-weight:bold}
.history_table thead tr td.Center{ text-align:center}
.history_table td { margin: 0; padding: 0; padding:5px 10px;vertical-align: middle; text-align:left; border: 1px solid #E8E8E8;}
.history_table td span{margin-left:5px;}
.history_table tbody tr.white td {background-color:#FFF;} 
.history_table tbody tr td.border{border-top:none; border-bottom:none}

.history_table input,.history_table select{ border-width: 1px}
.payment_list_table{background:#F2F2F2; border: none;color:#333; font-size:12px; min-width:826px;}
.payment_list_table thead tr td{line-height: 14px; padding:2px auto; text-align:left; background:#DBDBDB; border:solid 1px #DBDBDB;border-top: 2px solid #A0A0A0; font-size:14px; font-weight:bold;white-space: nowrap}
.payment_list_table thead tr td.Center{ text-align:center}
.payment_list_table td { margin: 0; padding: 0; padding:5px;vertical-align: top; text-align:left; border: 1px solid #E8E8E8;}
.payment_list_table td span{margin-left:5px;}
.payment_list_table tbody tr.white td {background-color:#FFF;} 
.payment_list_table tbody tr td.border{border-top:none; border-bottom:none}
.TicketDescription{width:280px; font-size: 12px; color:#999}
.step{background:#F4F5F4; height:56px;} 
.step ol{float:left;list-style:none} 
.step li{float:left;color:#999;height:46px; vertical-align:middle;padding-left:70px; padding-top:10px; width:410px; }
.step li span{ display:block;font-weight:100; font-size:12px}
.step li span.title{font-size:16px; font-weight:bold }
.step li span.title2{line-height:46px;font-size:16px; font-weight:bold ;}
.step li span.FirstText{ float:left; font-size:26px; margin-bottom:20px; font-weight:bold; margin-right:5px;}
.step li.current{color:#333; background:#DEF1FF; /*--background:url(/images/tab.jpg) no-repeat;--*/}
.step li.current span{ font-weight:100; font-size:12px}
.step li.current span.title{font-size:16px; font-weight:bold } 
.step li.current span.title2{line-height:46px;font-size:16px; font-weight:bold ;}
.step li.current span.FirstText{ float:left; display:block; font-size:26px; font-weight:bold; margin-right:5px;}
.TextAlignCenter{text-align:center} 
.TextAlignRight{ text-align:right}
.TextAlignLeft{ text-align: left}
.creditcard{ padding-left:58px;width:250px;}
.creditcard dl{ width:250px;}
.creditcard dl dd{ _display:inline;float:left;width:250px;text-align:right; margin-bottom:8px;}
.creditcard dl dd p{ line-height:25px; color:#444; text-align:left}
.creditcard dl dd p span{color:#999999; margin-left:10px;} 

/*admin*/
.admin-content{width:960px;margin:0 auto;}
#bank_table img {background: url("/images/bank_link.gif") no-repeat; cursor: pointer;display: block;}
#bank_table a:hover img,#bank_table img.bank_img_red {background: url("/images/bank_hover.gif") no-repeat;}
#bank_table input {float: left;height: 50px;}
#bank_table input[type=radio]{width: 12px}
.popclose{margin-top: -10px; margin-right: -10px; cursor: pointer}
.PaymentListHeader{padding-bottom:5px; margin-top:10px;}  
.active_box{margin:5px auto 20px auto;  border:1px solid #ccc;}
.money_sail{background:#f1f1f1;height:36px;line-height:36px;padding:0 20px 0 20px;color:#158144;font-size:15px;font-weight:bold;border-bottom:1px solid #ccc;}
.money_sail_widget_footer{background:url("/images/skin/header_footer.png") repeat-x scroll 0 -48px;height:36px;line-height:36px;padding:0 20px 0 20px;color:#959595;font-size:12px;font-weight:bold;border-bottom:1px solid #ccc; text-align: center}

.money_bottom{background:#f1f1f1;color:#158144;font-size:15px; padding:5px 0px;border-top:1px solid #ccc;}
.active_dl{ margin:10px 0px 25px 0px;}
.active_dl dd{ padding:5px 0px 5px;border-bottom:1px solid #ccc;} 
.ticket span{color: #999; font-size:15px; font-weight:bold;line-height: 36px; display:block;} 
.spanOne{display:block;float:left;width:280px;}
.spanTwo{display:block;float:left;width:100px;}
.spanThree{display:block;float:left;width:60px;}  
.spanFour{display:block;float:left;width:100px;}
.spanFive{display:block;float:left;width:100px;}   

.MarginTop10{ margin-top:10px;}
.MarginTop20{ margin-top:20px;}
.MarginTop30{ margin-top:30px;}
.MarginTB5{ margin:5px 0px;}
.MarginL7{ margin-Left:7px}
.MarginL15{ margin-Left:30px}
.MarginBottom20{ margin-bottom:20px;}
.MarginR10{margin-right:10px;}
.MarginBottom5{ margin-bottom:5px;}
.Margin22{ margin: 22px 0px}
.MarginR20{ margin-right:25px; _margin-right:30px;} 
.MarginL60{ margin-left:20px;}
.PaddingRL10{ padding:0px 10px;}
.PaddingRL20{ padding:0px 20px;}
.PaddingRL5{ padding:0px 5px;}
.Padding30{padding-top:30px;}
.PaddingTB20{padding-top:20px; padding-bottom:20px;}
.Padding1020{padding:10px 20px;}
.Padding15{padding:15px;}
.Padding5{padding:5px;}

.count_left{color:#6cb54a;}  
.count_right{line-height:25px; min-width:120px; background:#FF9; padding:0px 5px; font-weight:bold; font-size:15px}
.count_right p span{float:left;width:75px;text-align:left;}
.count_right p.yellow{ background:#FC0; margin:0px -5px; padding:0px 5px;} 
.BlueBoxContent826{width:826px; margin: 0px auto;}
.small_bank{padding:10px 30px 10px 0;background:#f1f1f1;text-align:right;}
.DetailHeader{ height:27px; border-bottom:solid 1px #6CB54A; margin:20px 0px 5px ;}
.DetailHeader ul li{float:left; list-style:none; margin-right:2px; font-weight:bold}
.DetailHeader ul li a{ display:block; border:solid 1px #999999; border-bottom:none; line-height:27px; cursor:pointer; color:#999999;  padding:0px 12px; text-decoration:none}
.DetailHeader ul li a:hover{background:#ADD69A; color:#FFF}
.DetailHeader ul li.nowpage a{border:solid 1px #6CB54A; border-bottom:none;  background:#6CB54A; color:#FFF}
.AttachmentMessage{background:#E7F6E3; padding:5px 10px 5px 100px; line-height:16px;margin:5px 0px 10px 0px; clear:both; _height:1px; min-height:22px; }
.AttachmentMessage dt{ margin-left:-105px; _margin-left:-55px; float:left; font-weight:bold; width:100px; text-align: center; margin-bottom:0px; font-size:14px; color:#000; border:none }
.AttachmentMessage dd{ float:left;white-space: nowrap; padding-left:30px; height:20px; margin-bottom:5px; margin-right:15px; background:url(/images/attachment_icon.png) no-repeat}
.AttachmentMessage dd a{color:#333; text-decoration:underline; }
.AttachmentMessage dd.pdf{ background-position:0px 0px}
.AttachmentMessage dd.ppt{ background-position:0px -30px}
.AttachmentMessage dd.excel{ background-position:0px -60px}
.AttachmentMessage dd.word{ background-position:0px -90px}
.AttachmentMessage dd.default{ background-position:0px -120px}
.TextareaHtml{}
.TextareaHtml p{ margin:auto;padding:auto;}
.TextareaHtml ul, .TextareaHtml ol{ padding-left: 20px;}
.AttendeeList li{font-weight: bold; list-style: none; border-bottom: solid 1px #EBEBEB; padding-bottom: 5px; margin-bottom: 15px}
.AttendeeList li span{font-weight: 100}
#ui-datepicker-div{ 
    font-size: 12px;
}
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }  
.Abutton a:link,.Abutton a:visited{background:url(/images/collection/bg.gif) repeat-x ;padding:1px 12px 2px;font-size:12px;cursor:pointer;color:#496824;border:1px solid #83BA40;font-weight:bold;*padding:4px 20px 2px; _padding:4px 14px 2px; *border:none}
.Abutton a:hover{ text-decoration:none}
.Calendar{ float:right;background:url(/images/index/calendar_bg.png) no-repeat; width:67px; height:70px;font-weight:bold; text-align:center}
.Month{ line-height:24px;  color:#FFF}
.Day{ font-size:20px; line-height:44px}
.PaymentList{}
.PaymentList dd{ float:left; width:400px; margin-bottom:5px;}
.PaymentList dd li{ list-style:none; float:left; width:280px}
.PaymentList dd li.number{ float:left; width:100px; }


.dlRegister{ margin:20px auto; padding-bottom:10px; clear:both; }
.dlRegister div{ font-size:14px}
.dlRegister.bg{ background:url(/images/register_bg.png) repeat-y}
.dlRegister dt{ background:#F7F7F7;border-bottom: 2px solid #000000;  font-size:16px; font-weight: bold; margin-bottom: 20px;}
.dlRegister dd{padding-bottom:10px; padding-left:325px; font-size:14px; min-height:30px; clear:both;}
.dlRegister dd ul {}
.dlRegister dd ul li{ list-style: none; min-height:30px;  margin:0px; padding:0px 0px 0px 30px}
.dlRegister dd ul li label{float:left; margin-left:-30px;  width:20px; text-align:left;}

.dlRegister dd.Padding0{padding:0px;}
.dlRegister dd label{ float:left; margin-left:-325px; width:300px;text-align:right;padding-bottom:10px; padding-right: 10px}


.PopDiv{margin-bottom:20px;}
.b1h, .b2h, .b3h, .b4h, .b2bh, .b3bh, .b4bh{font-size:1px; overflow:hidden; display:block;}
.b1h {height:1px; background:#aaa; margin:0 5px;}
.b2h, .b2bh {height:1px; background:#EBEBEB; border-right:2px solid #aaa; border-left:2px solid #aaa; margin:0 3px;}
.b3h, .b3bh {height:1px; background:#EBEBEB; border-right:1px solid #aaa; border-left:1px solid #aaa; margin:0 2px;}
.b4h, .b4bh {height:2px; background:#EBEBEB; border-right:1px solid #aaa; border-left:1px solid #aaa; margin:0 1px;}
.b2bh, .b3bh, .b4bh {background: #fff;}
.headh {background:#EBEBEB; border-right:1px solid #aaa; border-left:1px solid #aaa;}
.headh h3 {margin: 0px 10px 0px 10px; padding-bottom: 3px; font-size: 14px;}
.contenth {background: #fff; border-right:1px solid #aaa; border-left:1px solid #aaa; padding:12px 10px 12px 12px }
.contenth textarea{height:80px;width:550px;border:2px solid #ccc;font-size:14px;color:#505050; }
.contenth dl dd{ padding-left:20px; margin-bottom:5px}
.LineHeight{ line-height:33px}

.zhuanzhang p{ margin-bottom:0px}
.zhuanzhang dd{ margin-bottom:5px; padding:0px}
.zhuanzhang p span{ font-size:12px; color:#666; margin-left:10px}
.map{padding: 20px;}
.map h1{ font-size:16px; margin-bottom: 10px;}
.map img{ margin-bottom: 10px;}
.map p{ margin-bottom:8px;}
.map ul, .map ol{ padding-left: 20px;}
.SkinIcon{} 
.SkinIcon li{list-style: none; float: left; width: 86px; height: 120px; margin-right: 20px; background: url(/images/skin_icon.png) no-repeat;}
.SkinIcon li.SkinBlack{background-position:-86px 0px}
.SkinIcon li.SkinGreen{background-position:-172px 0px}
.SkinIcon li.SkinBlue{background-position:-258px 0px}
.SkinIcon li.SkinPurple{background-position:-344px 0px}
.SkinIcon li.SkinSilver{background-position:-430px 0px}
.SkinIcon li.SkinOrange{background-position:-516px 0px}


.SkinIcon li p{padding-top: 85px}


.TicketSetUp{ position: absolute; width: 80px; font-weight: bold; margin-left:30px; margin-top:-20px}
.TicketSetUp ul{ background:#DDF4FF; border:solid 1px #66CCFF}
.TicketSetUp ul li{ list-style: none;}
.TicketSetUp ul li a{ display: block; padding: 3px 10px}
.TicketSetUp ul li a:hover{ background:#66CCFF; color: #fff }
.EventTitleBg{padding:5px;min-height:180px;}
.SearchList{ text-align: left}
.SearchList ul{ width: 960px; padding:10px; height:}
.SearchList ul.white{ background:#F6F6F6}
.SearchList ul li{ list-style: none; float: left;}
.SearchList ul li ul li{float: none; list-style: square; }
.SearchList ul li.one{ width: 67px;}
.SearchList ul li.two{width: 400px; margin-left:20px;}
.SearchList ul li.three{ float:right; width: 436px; max-height:100px; /* sets max-height for IE */  _height:expression(this.scrollHeight > 200 ? "200px" : "auto"); overflow:hidden; }
.SearchInput{width:458px;border:2px solid #ccc;line-height:35px;height:35px;font-size:14px;color:#505050;}
.signup_select{ background: url(/images/signup_select_bg.png) repeat-x; height:481px;}
.signup_select p{ font-size:25px; color:#2BA8DD;}
.signup_select p span{ color:#63B141}
.signup_select_zh{ width:392px; margin:0px auto; padding-top:46px;}
.signup_select_zh ul{ padding-left:40px; padding-top:28px; font-size:18px}
.signup_select_zh ul li{ line-height:33px; list-style-type: square}
.signup_select_zh .button{ margin:0px -25px; padding-top:140px;}
.signup_select_zh .button a{ display:block; background:#2BA8DD; padding:9px 25px; font-size:20px; color:#FFF; text-decoration:none} 

.signup_select_en{ width:526px; margin:0px auto; padding-top:46px;}
.signup_select_en ul{ padding-left:40px; padding-top:28px; font-size:18px}
.signup_select_en ul li{ line-height:33px; list-style-type: square}
.signup_select_en .button{ margin:0px -25px; padding-top:140px;}
.signup_select_en .button a{ display:block; background:#2BA8DD; padding:9px 25px; font-size:16px; color:#FFF; text-decoration:none} 



.Rates_table{
	width:100%;
  border: 1px solid #D0D7E5;
  border-spacing: 0px;
}
.Rates_table th{ border-bottom: 1px solid #D0D7E5;  padding: 2px;}
.Rates_table thead tr th{
  border-bottom: 2px solid black;
  border-top: 1px solid black;
  text-align:center;
  margin: 0px;
  font-size:16pxpx;
  padding: 2px;
  background:#3366FF;
  color:#FFF
}

.Rates_table tr th {text-align:left;  padding:5px;  font-weight:bold;  font-size:14px;  background-color:#FFF;}
.Rates_table tr th span { padding-left:20px; font-weight:100;font-size:12px; }

.Rates_table tr {background-color:#00CCFF;}
.Rates_table tr.borderline td, .Rates_table tr.borderline th{border-top: 1px solid #000;}
.Rates_table tr td{ text-align:center}
.Rates_table tr td.td1 {background-color:#CCFFFF;}
.Rates_table tr td.td2 {background-color:#99CCFF;}


.WeibaoFollow{position:absolute;top:92px;right:50%; margin-right:-523px;width:33px; padding:10px 5px;  border-radius:4px;  box-shadow: 0 0 3px  #666;background-color:#E6E6E6}
.WeibaoFollow img{margin:5px 0px;}


.WeibaoShare{position:absolute;top:300px;top:250px;left:50%; margin-left:-523px;width:33px; padding:10px 5px;  border-radius:4px;  box-shadow: 0 0 3px  #666;background-color:#E6E6E6}
.WeibaoShare img{margin:5px 0px;}
.EventSelectedList{ padding:20px 0px}
.EventSelectedList dl{background: url(/images/prnasia/prnasia_img.jpg) no-repeat; padding-left: 383px; margin-bottom:30px; }
.EventSelectedList dl dt{ text-align:justify}
.EventSelectedList dl dd{text-align: right}
.EventSelectedList dl.one{ background-position: 0 0}
.EventSelectedList dl.two{ background-position: 0 -203px; height: 134px;}
.EventSelectedList dl.three{ background-position: 0 -391px;}
.EventSelectedList dl.four{ background-position: 0 -550px; height:174px;}
.EventSelectedList dl.five{ background-position: 0 -761px; height:174px;}

.ypservice_input{background:#6CB54A;width:120px;height:38px;line-height:31px;font-size:13px;cursor:pointer;color:#fff;border-radius: 6px 6px 6px 6px; box-shadow: 2px 2px 2px #666;border:1px solid #83BA40;font-weight:bold;}

.overview_header{ background:url(/images/overview_header.jpg) repeat-x; height:33px; line-height:30px;font-size:18px; padding-left: 20px; font-weight: bold; color:#2BA8DD}
.overview_body{border: solid 1px #C9C8C8; border-top:none; background: url(/images/overview_bg.png) no-repeat; padding:25px 96px 10px; font-size:18px; color:#5F5D5D}
.overview_body div.left{ float: left; width: 345px;}
.overview_body div.right{ float: right; width: 320px;}
.overview_body div p{padding-bottom:20px}
.overview_body div span{ color:#868686;} 
.overview_body div span a{margin-left:5px; font-size:14px; text-decoration:underline}
.overview{ margin-top:30px; margin-bottom:10px; width:960px; position:relative;}

.overviewh2{ color:#6cb54a; font-size:22px; font-weight:bold;}
.overview_input{position:absolute; top:-20px; right:0px; background: url(/images/overview_button.jpg) repeat-x;width:180px;height:47px;font-size:22px;cursor:pointer;color:#fff;border-radius: 6px 6px 6px 6px;border:none;}

.overview_table{background:#edecec; border: none;color:#333; font-size:12px; margin-bottom:42px;}
.overview_table thead tr td{line-height: 14px; padding:10px 5px; text-align: center; background:#D9EFFC; border:solid 1px #E1E1E1;border-top: 2px solid #E1E1E1; font-size:16px; color:#515051}
.overview_table thead tr td.Center{ text-align:center}
.overview_table td { margin: 0; padding: 0; font-size:14px; padding:9px 5px;vertical-align: middle; text-align: center; border: 1px solid #E1E1E1;}
.overview_table td span{margin-left:5px;}
.overview_table tbody tr.white td {background-color:#FFF;} 
.overview_table td.last{ color:#3C678E;}
.overview_table td.last span{ margin:0px 3px;}
.overview_table td a{color:#3c678e}

.highlight { background-color: yellow }
.CollectCheckin dl{ padding-left:89px; padding-bottom:40px;}
.CollectCheckinInput{ border:solid 1px #000000; height:30px; width:203px; padding:3px; margin-right:10px;}
.CollectCheckinInputLink{ border:solid 1px #000000; height:30px; width:447px; padding:3px; margin-right:10px; font-size:16px; color:#1e41d6}
.CollectCheckin dl dt{ color:#595757; font-size:18px; padding-bottom:35px;}
.CollectCheckin dl dt span{color:#388315; font-size:20px}
.CollectCheckin dl dd{ padding-left:75px;}